
.header-type {
    background-color: black;
    color: white;
    position: relative;
    width: 100%;
    height: 90px;
    padding-left: 180vh;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
}
