.main-header {
    position: sticky;
    top: -1px;
    z-index: 9999;
}
.priority-select {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    margin-left: 20px;
    color: white;
}

.user-image{
    height: 28px;
    width: 30px;
    border-radius: 20px;
    
}
 
.users-popup{
    height: 30vh;
    width: 100%;
    margin-right: 20px;
    padding: 10px;
}

.fa-arrow-right-from-bracket{
  position: relative;
  left: 18px;
  font-size: 17px;
}
