.tasks-add {
    position: relative;
    left: 10px;
    height: 40px;
    position: fixed;
}
.search-icon {
    position: relative;
    left: 40px;
}
.search-field {
    outline: none !important;
    border: 1px solid grey;
    border-radius: 5px;
    padding-left: 30px;
}
