
.sing-input{
    width: 80%;
    border-radius: 3px;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 10px;
}
.text-color{
    color: gray;
}
.validation-error{
    color: rgb(255, 73, 73);
    font-size: 12px;
    display:inline-block;
}

.custom-toast {
    animation: slow-motion-fade-in 0.3s ease-in-out forwards;
}
@keyframes slow-motion-fade-in {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}