// .main-sing{
//     background-color: aqua;
// }

.sing-input{
    width: 80%;
    border: 1px solid gray;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 10px;
}
.text-color{
    color: gray;
}
.validation-error{
    color: rgb(255, 73, 73);
    font-size: 12px;
    display:inline-block;
}
