/* .tasks-add {
    position: relative;
    left: 10px;
    height: 40px;
    position: fixed;
}

.card-style:hover {
    transform: translateY(-4px);
    box-shadow: 4px 4px 4px 4px rgb(231, 231, 231);
}

.card-style {
    position: relative;
    margin: 10px;
}

.add-popup {
    height: 325px;
    width: 400px;
    position: relative;
    top: 10px;
    scrollbar-width: none;
}

Button.save {
    border: 1px solid gray;
    background: rgb(45, 66, 255);
    width: 25%;
    margin: 10px;
    float: right;
    color: white;
}

Button.cancel {
    border: 1px solid gray;
    width: 25%;
    margin: 10px;
    float: right;
    color: black;
}

.save:hover {
    transform: translateY(-3px);
}

.cancel:hover {
    transform: translateY(-3px);
}

.main-header {
    position: sticky;
    top: -1px;
    z-index: 9999;
}

.header-type {
    background-color: black;
    color: white;
    position: relative;
    width: 100%;
    height: 90px;
    padding-left: 180vh;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
}

.edit-button {
    position: relative;
    bottom: 170px;
    left: 80%;
}

.not-found {
    position: relative;
    bottom: 30px;
}

.search-field {
    outline: none !important;
    border: 1px solid grey;
    border-radius: 5px;
    padding-left: 30px;
}

.search-icon {
    position: relative;
    left: 40px;
}

.priority-select {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
} */